.stat {
    margin: 20px;
    text-align: center; 
}

.statNumber {
    font-family: 'Lato', sans-serif;
    margin-bottom: 5px; 
}

.statName {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}